php_flag display_errors on
php_value error_reporting 9999
php_flag  log_errors on
php_value error_log  ./error_log

RewriteEngine On
RewriteBase /cms/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?pzenyzpgfnauirss=$1 [QSA,L]